* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

body {
  background-color: #D9D9D9;
  color: #272525;
  padding-bottom: 5rem;
}

.navigator {
  background-color: #D9D9D9;
  box-shadow: 0px -12px 20px 0px rgba(224,224,224,0.6);
  bottom: 0;
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 10rem 1fr 10rem;
  padding: 1.5rem 10rem;
  position: fixed;
  width: calc(100% - 20rem);
}

.navigator > * {
  opacity: 0.25;
}

.navigator:hover > * {
  opacity: 1;
}

.navigator > div > a > img {
  width: 5rem;
}

.navigator > div > p {
  margin-top: 0.35rem;
}

.navigator .left {
  grid-area: left;
  text-align: left;
}

.navigator .center {
  grid-area: center;
  text-align: center;
}

.navigator .right {
  grid-area: right;
  text-align: right;
}